/* Font Declaration */
@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/libre-baskerville-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/libre-baskerville-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/libre-baskerville-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Main styles here */
* {
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
}

html {
  font-family: var(--font-serif);
}

html {
  background: var(--bg-color);
}

html,
body {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

body {
  color: var(--text-color);
  font-size: var(--base-font-size);
  margin: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  color: var(--heading-color);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  color: var(--heading-color);
}

a {
  display: flex;
  color: var(--link-color);
  text-decoration: none;
  font-size: var(--link-base-font-size);
  font-style: normal;

  &.active,
  &:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
  }
}

#main-content {
  flex: 1;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  max-width: var(--container-max-width);
  padding: var(--container-padding);
  margin: 0 auto;
}

.large-title {
  font-size: var(--large-heading-font-size);
  font-weight: bold;
}

.large-title-gap {
  padding-bottom: var(--large-title-gap);
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding);
}

@media (min-width: 680px) {
  .content-container {
    padding: 0;
  }
}

.content {
  color: var(--text-color);
  font-size: 1rem;
  padding-bottom: var(--content-gap);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  gap: 42px;
}

.nav-list {
  display: flex;
  gap: 28px;
}

.nav-list__item {
  display: flex;
  a {
    font-size: inherit;
  }
}

.small-content {
  font-size: var(--small-font-size);
  color: var(--muted-color);
  padding-top: 28px;
}

.theme-selector {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer; /* pointer for the label */
  margin-left: 0px; /* To bring it closer */
}

/* Hide the select but keep it interactive */
.theme-selector select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* Optional: styling for label + icon */
.theme-label {
  font-weight: 500;
  color: var(--text-color);
}

.theme-icon {
  font-size: 1rem;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}

.footer-bottom {
  padding-top: 110px;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  ul {
    display: flex;
    gap: 32px;
    li {
      display: flex;
      a {
        display: flex;
      }
    }
  }
}

/* Typography class */

.text-xxl {
  font-size: 48px;
}
.text-xl {
  font-size: 36px;
}
.text-lg {
  font-size: 24px;
}
.text-medium {
  font-size: 20px;
}
.text-regular {
  font-size: 18px;
}
.text-sm {
  font-size: 16px;
}
.text-xs {
  font-size: 14px;
}
.text-italic {
  font-style: italic;
}

/* Color Class */
.bg-color {
  background: var(--bg-color);
}
.link-color {
  color: var(--link-color);
}
.heading-color {
  color: var(--heading-color);
}
.text-color {
  color: var(--text-color);
}
.muted-color {
  color: var(--muted-color);
  opacity: 0.4;
}

.line-height-1 {
  line-height: 1;
}
.line-height-sm {
  line-height: 1.3;
}

.page-title {
  padding-bottom: var(--page-title-gap-bottom);
}

/* Learning List */
.learning-list {
  display: flex;
  align-items: center;
  width: 100%;
}
.learning-list__item {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid var(--transparent-color);

  width: 100%;
}
.learning-list__item-link {
  display: flex;
  cursor: pointer;
}

.learning-year {
  font-weight: normal;
  padding-top: 38px;
}

/* Learning post */
.learning-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.back-link-bottom {
  padding: 60px 0;
  display: flex;
  width: 30%;

}