/* Theme for VAM Digital Studio */
:root {
  color-scheme: light dark;
  /* light colors */
  
  --bg-color: #FAFAF9;
  --link-color: #4A4A4A;
  --heading-color: #1A1A1A;
  --text-color: #595959;
  --muted-color: #6B6B6B;
  --transparent-color: rgba(0,0,0, 30%);
}

/* Light Mode */
:root[data-theme="light"] {
  /* light colors */
  --bg-color: #FAFAF9;
  --link-color: #4A4A4A;
  --heading-color: #1A1A1A;
  --text-color: #595959;
  --muted-color: #6B6B6B;
  --transparent-color: rgba(0,0,0, 30%);
}

:root[data-theme="dark"] {
--bg-color: #34322D;
--link-color: #C9C8C5;
--heading-color: #F8F8F7;
--text-color: #B6B5B2;
--muted-color: #AFAEAA;
  --transparent-color: rgba(19, 19, 19, 100%);
}

/* Dark Mode */
@media(prefers-color-scheme: dark) {
  :root:not([data-theme]) {
  --bg-color: #34322D;
  --link-color: #C9C8C5;
  --heading-color: #F8F8F7;
  --text-color: #B6B5B2;
  --muted-color: #AFAEAA;
  --transparent-color: rgba(255, 255, 255, 0.35);
  }
}
