/* Tokens that are generic */

:root {
  color-scheme: light dark;
  --container-max-width: 1080px;
  --container-padding: 1.5rem;
  --content-max-width: 680px;
  --content-padding: 1rem;
  --content-gap: 28px;
  --base-font-size: 16px;
  --font-serif: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --link-base-font-size: 0.9rem;
  --large-heading-font-size: 48px;
  --medium-heading-font-size: 36px;
  --sub-heading-font-size: 16px;
  --small-font-size: 14px;
  --large-title-gap: 48px;
  --page-title-gap-bottom: 66px;
}
