<footer class="footer">
  <div class="footer-slogan">
    <p class="text-xxl text-italic muted-color line-height-1">Less is more.</p>
    <p class="text-regular text-italic muted-color">Clarity over complexity</p>
  </div>
  <div class="footer-bottom">
    <div class="footer-links">
      <ul>
        <li>

          <a
            href="https://www.linkedin.com/in/vaibhavshringarpure"
            target="_blank" class="text-xs">LinkedIn</a
          >
          </li> 
        <li><a href="mailto:vamdigitalstudio@gmail.com" class="text-xs">Email</a></li>
      </ul>
    </div>
    <div class="text-xs">Written and built by me.</div>
    <div class="text-xs">&copy; {new Date(Date.now()).getFullYear()}. VAM Digital Studio</div>
  </div>
</footer>
