<script src="../scripts/theme-toggle.ts" />
<header class="header">
  <a href="/" class="logo">
    <!-- <svg viewBox="0 0 width height" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
    <path d="M95.0465 22.9999V0.706055H101.751L107.476 15.2751H107.571L113.295 0.706055H120V22.9999H114.892V9.06432H114.766L109.184 22.9999H105.863L100.281 9.06432H100.154V22.9999H95.0465Z" fill="currentColor"/>
    <path d="M70.3777 22.9999L78.063 0.706055H85.1632L92.8485 22.9999H86.7603L85.3371 18.1024H77.889L76.4658 22.9999H70.3777ZM81.5577 5.55725L79.0908 14.0237H84.1353L81.6684 5.55725H81.5577Z" fill="currentColor"/>
    <path d="M57.8693 22.9999L50.6426 0.706055H57.1419L61.5222 17.4689H61.6329L65.9973 0.706055H72.4966L65.2699 22.9999H57.8693Z" fill="currentColor"/>
    <path d="M28.4247 3.18965C27.3178 1.39671 26.0992 0.404608 24.6346 0.117737C23.7514 -0.0615578 23.2036 -0.0376511 22.3427 0.201408C21.3253 0.488281 20.7104 0.918585 19.7936 1.9585C18.6644 3.24942 17.9825 4.54034 14.7179 11.5807C13.1191 15.0351 11.5316 18.2982 11.1961 18.8481C9.95516 20.8442 8.69181 21.1311 7.67442 19.637C7.0148 18.6688 5.53902 15.3458 4.24213 11.9034C3.25829 9.28568 3.05704 8.52069 3.05704 7.43296C3.05704 6.52454 3.0794 6.42891 3.40363 5.99861C3.86201 5.40096 4.544 5.00651 5.2707 4.92284C5.98623 4.83916 6.47815 5.04237 7.13778 5.67588C7.98746 6.50063 8.37877 7.24172 10.3688 11.7599C11.8111 15.0351 12.0011 15.4056 12.1576 15.2144C12.2135 15.1546 12.6272 14.3418 13.0744 13.4095L13.9017 11.7002L12.6272 9.04662C11.0396 5.74759 10.5589 4.92284 9.57503 3.90683C7.80858 2.06607 5.40486 1.56405 3.0794 2.55615C2.67692 2.73544 2.0732 3.12989 1.73779 3.42872C-0.252262 5.25752 -0.498222 7.48078 0.821028 11.5807C1.88314 14.8677 3.86201 19.6728 4.67816 20.9757C5.50548 22.3025 6.44461 23.1272 7.59616 23.5336C8.18871 23.7488 8.50175 23.7847 9.48559 23.7488C10.5477 23.7129 10.7489 23.6651 11.3974 23.3304C12.3365 22.8284 13.3763 21.8244 13.9688 20.8084C14.4048 20.0792 16.2607 16.075 18.0943 11.9392C19.693 8.34139 21.2582 5.10213 21.6831 4.52839C22.9017 2.87888 24.1091 2.68763 25.2942 3.9666C26.0545 4.7794 26.7812 6.11814 28.8607 10.4929C29.811 12.4771 30.6271 14.1147 30.6719 14.1147C30.7948 14.1147 32.3936 11.3416 32.4048 11.1145C32.416 10.7559 29.4756 4.91088 28.4247 3.18965Z" fill="currentColor"/>
    <path d="M45.5637 4.73159C44.9041 3.53629 43.3501 2.42466 41.9637 2.14974C40.3315 1.82701 38.7439 2.35295 37.4246 3.65582C36.4631 4.61206 35.9489 5.44877 34.6408 8.17405C33.1762 11.234 32.293 12.9313 31.5215 14.2103C29.1514 18.1428 26.3675 20.3063 23.6843 20.3063C21.7502 20.3063 19.4135 18.9317 17.7141 16.7922C17.4123 16.4216 17.1328 16.1228 17.0769 16.1228C17.021 16.1228 16.652 16.84 16.2607 17.7006L15.534 19.2903L16.4172 20.2107C17.7589 21.6212 19.4806 22.7089 21.2247 23.2468C22.3651 23.5934 25.1154 23.5695 26.3116 23.199C29.0619 22.3383 31.6892 20.0673 33.847 16.6607C35.1998 14.545 35.7476 13.4812 37.8607 8.83147C38.4085 7.61226 39.0234 6.40501 39.2134 6.15399C40.242 4.79135 41.4271 4.5523 42.5004 5.49658C43.4395 6.33329 43.5737 7.33734 43.037 9.57255C42.4109 12.1424 40.6557 17.3061 39.8731 18.872C39.4818 19.6489 38.878 20.3541 38.4308 20.5454C38.1625 20.6649 38.0395 20.653 37.6259 20.4378C37.0445 20.139 36.5414 19.4099 35.6358 17.593C35.3004 16.9117 34.9986 16.3738 34.9538 16.3977C34.9203 16.4097 34.4284 17.091 33.8694 17.9038L32.8632 19.3979L33.2097 20.0553C34.3613 22.2188 35.1327 23.0436 36.5973 23.6054C38.3526 24.2867 40.3762 23.701 41.6283 22.1351C42.5451 20.9996 43.5513 18.6927 44.7029 15.0948C46.5029 9.46497 46.7153 6.84727 45.5637 4.73159Z" fill="currentColor"/>
    <path d="M24.4669 14.3298C25.9427 13.529 25.9091 11.2818 24.4222 10.5049C23.1253 9.83552 21.6048 10.6961 21.4706 12.1664C21.4036 12.9194 21.5824 13.4812 22.052 13.9593C22.7452 14.6765 23.5949 14.808 24.4669 14.3298Z" fill="currentColor"/>
  </svg> -->
  <svg
    viewBox="-0.5 -0.5 121 24.5"
    width="125"
    height="25"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
    class="logo"
    aria-label="VAM Digital Logo"
    role="img"
  >
    <!-- hidding the VAM bit -->
    <!-- <path d="M95.0465 22.9999V0.706055H101.751L107.476 15.2751H107.571L113.295 0.706055H120V22.9999H114.892V9.06432H114.766L109.184 22.9999H105.863L100.281 9.06432H100.154V22.9999H95.0465Z" fill="currentColor"/>
    <path d="M70.3777 22.9999L78.063 0.706055H85.1632L92.8485 22.9999H86.7603L85.3371 18.1024H77.889L76.4658 22.9999H70.3777ZM81.5577 5.55725L79.0908 14.0237H84.1353L81.6684 5.55725H81.5577Z" fill="currentColor"/>
    <path d="M57.8693 22.9999L50.6426 0.706055H57.1419L61.5222 17.4689H61.6329L65.9973 0.706055H72.4966L65.2699 22.9999H57.8693Z" fill="currentColor"/> -->
    <path d="M28.4247 3.18965C27.3178 1.39671 26.0992 0.404608 24.6346 0.117737C23.7514 -0.0615578 23.2036 -0.0376511 22.3427 0.201408C21.3253 0.488281 20.7104 0.918585 19.7936 1.9585C18.6644 3.24942 17.9825 4.54034 14.7179 11.5807C13.1191 15.0351 11.5316 18.2982 11.1961 18.8481C9.95516 20.8442 8.69181 21.1311 7.67442 19.637C7.0148 18.6688 5.53902 15.3458 4.24213 11.9034C3.25829 9.28568 3.05704 8.52069 3.05704 7.43296C3.05704 6.52454 3.0794 6.42891 3.40363 5.99861C3.86201 5.40096 4.544 5.00651 5.2707 4.92284C5.98623 4.83916 6.47815 5.04237 7.13778 5.67588C7.98746 6.50063 8.37877 7.24172 10.3688 11.7599C11.8111 15.0351 12.0011 15.4056 12.1576 15.2144C12.2135 15.1546 12.6272 14.3418 13.0744 13.4095L13.9017 11.7002L12.6272 9.04662C11.0396 5.74759 10.5589 4.92284 9.57503 3.90683C7.80858 2.06607 5.40486 1.56405 3.0794 2.55615C2.67692 2.73544 2.0732 3.12989 1.73779 3.42872C-0.252262 5.25752 -0.498222 7.48078 0.821028 11.5807C1.88314 14.8677 3.86201 19.6728 4.67816 20.9757C5.50548 22.3025 6.44461 23.1272 7.59616 23.5336C8.18871 23.7488 8.50175 23.7847 9.48559 23.7488C10.5477 23.7129 10.7489 23.6651 11.3974 23.3304C12.3365 22.8284 13.3763 21.8244 13.9688 20.8084C14.4048 20.0792 16.2607 16.075 18.0943 11.9392C19.693 8.34139 21.2582 5.10213 21.6831 4.52839C22.9017 2.87888 24.1091 2.68763 25.2942 3.9666C26.0545 4.7794 26.7812 6.11814 28.8607 10.4929C29.811 12.4771 30.6271 14.1147 30.6719 14.1147C30.7948 14.1147 32.3936 11.3416 32.4048 11.1145C32.416 10.7559 29.4756 4.91088 28.4247 3.18965Z" fill="currentColor"/>
    <path d="M45.5637 4.73159C44.9041 3.53629 43.3501 2.42466 41.9637 2.14974C40.3315 1.82701 38.7439 2.35295 37.4246 3.65582C36.4631 4.61206 35.9489 5.44877 34.6408 8.17405C33.1762 11.234 32.293 12.9313 31.5215 14.2103C29.1514 18.1428 26.3675 20.3063 23.6843 20.3063C21.7502 20.3063 19.4135 18.9317 17.7141 16.7922C17.4123 16.4216 17.1328 16.1228 17.0769 16.1228C17.021 16.1228 16.652 16.84 16.2607 17.7006L15.534 19.2903L16.4172 20.2107C17.7589 21.6212 19.4806 22.7089 21.2247 23.2468C22.3651 23.5934 25.1154 23.5695 26.3116 23.199C29.0619 22.3383 31.6892 20.0673 33.847 16.6607C35.1998 14.545 35.7476 13.4812 37.8607 8.83147C38.4085 7.61226 39.0234 6.40501 39.2134 6.15399C40.242 4.79135 41.4271 4.5523 42.5004 5.49658C43.4395 6.33329 43.5737 7.33734 43.037 9.57255C42.4109 12.1424 40.6557 17.3061 39.8731 18.872C39.4818 19.6489 38.878 20.3541 38.4308 20.5454C38.1625 20.6649 38.0395 20.653 37.6259 20.4378C37.0445 20.139 36.5414 19.4099 35.6358 17.593C35.3004 16.9117 34.9986 16.3738 34.9538 16.3977C34.9203 16.4097 34.4284 17.091 33.8694 17.9038L32.8632 19.3979L33.2097 20.0553C34.3613 22.2188 35.1327 23.0436 36.5973 23.6054C38.3526 24.2867 40.3762 23.701 41.6283 22.1351C42.5451 20.9996 43.5513 18.6927 44.7029 15.0948C46.5029 9.46497 46.7153 6.84727 45.5637 4.73159Z" fill="currentColor"/>
    <path d="M24.4669 14.3298C25.9427 13.529 25.9091 11.2818 24.4222 10.5049C23.1253 9.83552 21.6048 10.6961 21.4706 12.1664C21.4036 12.9194 21.5824 13.4812 22.052 13.9593C22.7452 14.6765 23.5949 14.808 24.4669 14.3298Z" fill="currentColor"/>
  </svg>
    <!-- <img src="/logo.svg" alt="VAM digital studio Logo" title="Go back to home page" /> -->
  </a>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list__item"><a href="/work">Work</a></li>
      <li class="nav-list__item"><a href="/learnings">Learnings</a></li>
      <li class="nav-list__item"><a href="/about">About</a></li>
      <li class="nav-list__item"><a href="/connect">Connect</a></li>
    </ul>
    <div class="theme-selector">
      <span class="theme-icon" id="theme-icon"></span>
        <label for="theme-selector" class="sr-only">Theme Selector</label>
      <select name="theme-selector" id="theme-selector">
        <option value="" disabled selected>Theme</option>
        <option value="light"> ☀️ Light</option>
        <option value="dark"> 🌙 Dark</option>
        <option value="system">🌗 OS Default</option>
      </select>
    </div>
  </nav>
</header>