---
---
<ul class="learning-list">
  <li class="learning-list__item">
    <span class="learning-list__item-day text-color text-sm">12 January</span>
    <a href="/learnings/learning-1" class="learning-list__item-link text-regular link-color">Why I'm keeping this site intentionally small</a>
  </li>
</ul>