---
import BaseLayout from "../../layouts/baseLayout.astro"
import Title from '../../components/title.astro';
---

<BaseLayout heading="Learnings">
  <Title
    mainTitle="Learnings"
    subTitle="Thoughts on design, development, and everyday discoveries"
  />
  <nav>
    <ul>
      <li><a href="learnings/learning-1">Why I'm keeping this site intentionally small</a></li>
      <li><a href="learnings/learning-2"></a>My Second Post</li>
      <li><a href="learnings/learning-3"></a>My Third Post</li>
    </ul>
  </nav>
  <slot />
</BaseLayout>