---
import BaseLayout from "../../layouts/baseLayout.astro"
import Learning from "../../components/learning.astro"
import Title from '../../components/title.astro';
---

<BaseLayout heading="Learnings">
  <Title
    mainTitle="Learnings"
    subTitle="Thoughts on design, development, and everyday discoveries"
  />
  <h2 class="learning-year text-lg">2026</h2>
  <Learning />
  <Learning />
  <Learning />
  <h2 class="learning-year text-lg">2025</h2>
  <Learning />
  <Learning />
  <Learning />
  <Learning />
</BaseLayout>